<h1>Products</h1>
<p>Created By: <%= @product.user.full_name if @product.user %></p>
<h1><%= @product.title.titleize %></h1>
<p><%= @product.description %></p>
<p>Price: <%= @product.price %></p>

<% if @product.favourited_by?(current_user) %>
  <%= link_to fa_icon("star"), product_favourite_path(@product, @product.favourite_for(current_user)), method: :delete, class: "like-icon" %>
<% else %>
<%= link_to fa_icon("star-o"), product_favourites_path(@product), method: :post, class: "like-icon" %>
<% end %>

<% if can? :manage, @product %>
<%= link_to "Edit", edit_product_path(@product) %>
<%= link_to "Delete", product_path(@product),
                      method: :delete,
                      data:   {confirm: "Are you sure?"} %>
<% end %>

<h2>Create a Review</h2>
<div id="review-form">
  <%= render "reviews/form" %>
</div>

<h2>Reviews</h2>
<div id="reviews">
  <% @product.new_first_reviews.each do |review| %>
    <%= render "/reviews/review", review: review %>
  <% end %>
</div>
