<!DOCTYPE html>
<html>
<head>
  <title>Amazon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "Home", root_path %> |
    <%= link_to "New Product", new_product_path %> |
    <%= link_to "All Products", products_path %> |
    <% if user_signed_in? %>
      Hello <%= current_user.full_name %> |
      <%= link_to "Favourite Products", favourites_path %> |
      <%= link_to "Sign Out", sessions_path, method: :delete %>
    <% else %>
    <%= link_to "Sign Up", new_user_path %> |
    <%= link_to "Sign In", new_session_path %>
    <% end %>
  </nav>
  <hr>
<% if flash[:notice] %>
   <div class="flash-notice"><%= flash[:notice] %></div>
 <% elsif flash[:alert] %>
   <div class="flash-alert"><%= flash[:alert] %></div>
 <% end %>
<%= yield %>

</body>
</html>
